.vegetabelCategory {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 80px;
}
.vegetabelCategory::after {
	content: '';
	position: absolute;
	width: 91px;
	height: 3px;
	background: #00ab55;
	right: -44px;
	top: 77px;
	z-index: -2;
}
.vegetableImgWrap img {
	width: 65%;
	margin: 0 auto;
	object-fit: cover;
}
.vegetabelCategory:last-child::after {
	visibility: hidden;
}
.vegetableImgWrap {
	transition: all .5s cubic-bezier(0.42, 0.43, 0.67, 0.7);
	cursor: pointer;
}

.vegetableImgWrap:hover .vegetableIcon {
	color: #00ab55 !important;
}
.categoryCardWrap {
	margin-top: 60px;
}
.vegetableShopCategory {
	background-image: url(../../../../public/assets/vegetable20.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 370px;
	height: 450px;
	position: relative;
	border-radius: 10px;
	color: white;
}
.vegetableShopCategory:nth-child(2) {
	background-image: url(../../../../public/assets/vegetable18.jpg);
}
.vegetableShopCategory:nth-child(3) {
	background-image: url(../../../../public/assets/vegetable19.jpg);
}
.vegetableShopCategory::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.categoryCardContent {
	z-index: 2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
}
.freshMilkWrap {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
	.vegetableShopCategory {
		width: 300px;
		margin: 0 auto;
	}
	.vegetabelCategory:nth-child(4)::after {
		visibility: hidden;
	}
	.freshMilkWrap {
		justify-content: center;
		flex-wrap: wrap;
	}
	.freshMilkWrap img {
		width: 100%;
	}
	.freshMilkWrap img:first-child {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1024px) {
	.vegetabelCategory::after {
		visibility: hidden;
	}
}
