.cartTable {
	width: 70%;
}
.cartTable :where(tr, th) {
	border: 1px solid #ddd;
	text-align: center;
}
.trashIcon {
	color: red;
	font-size: 20px;
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
}
.quantity {
	width: 100%;
	margin: 0 auto;
}
.shippingCart {
	width: 28%;
	padding: 20px;
	box-shadow: #00ab55 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 5px;
}
.checkoutBtn {
	width: 100%;
	margin-top: 5px;
}
