.shopContainer {
	margin-top: 30px;
}
.shopContainer {
	display: flex;
}

.shopContainerLeftSide {
	width: 280px;
	border-right: 1px solid #ddd;
}
.productCategories ul li,
.color ul li {
	margin-bottom: 15px;
	margin-top: 15px;
}
.rang {
	margin: 20px 0;
	width: 200px;
}
.filterBtn,
.productTagBtn {
	background: #00ab55;
	color: #fff;
	border-radius: 5px;
	width: 100px;
	height: 35px;
}
.productTagButtonGroup button {
	margin-right: 5px;
}
.productTagBtn {
	width: auto;
	border-radius: 20px;
	background: #edeff1;
	color: black;
	margin: 5px;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shopCard2 {
	width: 260px;
	margin: 15px;
}
.sortProduct {
	width: 300px !important;
	height: 35px !important;
}
.pagination {
	display: flex;
	align-items: center;
	width: 300px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 50px;
}
.pagination span {
	font-size: 20px;
}

.arrowLeft,
.arrowRight,
.pagination span,
.activePagination {
	width: 25px;
	height: 25px;
	background: #00ab55;
	border-radius: 100%;
	color: #fff;
	display: grid;
	place-content: center;
}
.pagination span {
	background: transparent;
	color: black;
	transition: all .5s ease;
}
.pagination span:hover {
	background: #00ab55;
	color: #fff;
}
.activePagination {
	background: #00ab55;
}

.allCategory span {
	color: #00ab55;
	font-size: 18px;
	margin-right: 15px;
	cursor: pointer;
	transition: all .5s ease;
}
.allCategory span:hover {
	color: #ffb240;
}
@media only screen and (max-width: 1024px) {
	.shopContainer {
		flex-direction: column;
	}
	.shopContainerLeftSide {
		order: 2;
		width: 100%;
	}

	.shopCard2 {
		width: 300px;
	}
}
@media only screen and (max-width: 500px) {
	.shopCard2 {
		width: 240px;
		margin-right: 5px;
		margin-left: 0;
	}
}
@media only screen and (max-width: 768px) {
	.containerShopCard {
		grid-template-columns: repeat(1, 1fr);
	}
}
