.signupWrap {
	width: 800px;
	margin: 50px auto;
}
.SignupFormWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
.signupInput {
	width: 310px !important;
}
.businessInput,
.businessBtn {
	width: 400px !important;
}
.SingleInput {
	margin-right: 10px !important;
	width: 150px !important;
}
.signupBtn {
	display: flex;
	width: 310px;
	border-radius: 15px;
	height: 50px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 25px;
	border: 1px solid black;
}
.line {
	width: 150px;
	height: 1px;
	background: #00ab55;
	transform: rotate(90deg);
}
.devider {
	height: 200px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
