.about {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 20px;
	place-items: center;
}
.aboutCard {
	width: 280px;
	padding: 20px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
	transition: all .5s cubic-bezier(0.49, 0.52, 0.67, 0.7);
}
.aboutCard:hover {
	background: #00ab55;
	color: #fff;
}

.aboutIcon {
	font-size: 50px !important;
	color: #00ab55;
	transition: all .5s cubic-bezier(0.49, 0.52, 0.67, 0.7);
}
.aboutCard:hover .aboutIcon {
	color: #fff !important;
}
@media only screen and (max-width: 1024px) {
	.aboutCard {
		width: 230px;
	}
}

@media only screen and (max-width: 768px) {
	.about {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width: 500px) {
	.about {
		grid-template-columns: repeat(1, 1fr);
	}
	.aboutCard {
		width: 250px;
	}
}
